expiry-notifications.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a8b66be4-b216-4c15-8c80-bb4a1a7f18e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst today = now.toISOString().split('T')[0];\n\n// Calculate 7 days from now\nconst sevenDays = new Date(now);\nsevenDays.setDate(now.getDate() + 7);\nconst sevenDaysDate = sevenDays.toISOString().split('T')[0];\n\n// Calculate 30 days from now\nconst thirtyDays = new Date(now);\nthirtyDays.setDate(now.getDate() + 30);\nconst thirtyDaysDate = thirtyDays.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    today: today,\n    warning_date_7: sevenDaysDate,\n    warning_date_30: thirtyDaysDate,\n    run_timestamp: now.toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "1d496fdf-95f0-4b55-a38a-e405962c7e89",
      "name": "Calculate Date Thresholds"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXCW1heCZFvlGSo",
          "mode": "list",
          "cachedResultName": "Gym Management System",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo"
        },
        "table": {
          "__rl": true,
          "value": "tbleqNi2Sno4ttfpW",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo/tbleqNi2Sno4ttfpW"
        },
        "filterByFormula": "=AND({Subscription Status} = 'active', {Subscription Expiry Date} >= '{{ $json.today }}', {Subscription Expiry Date} <= '{{ $json.warning_date_7 }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "346efc65-7561-4cc2-a555-c8bb362fbb65",
      "name": "Find 7-Day Warnings",
      "credentials": {
        "airtableTokenApi": {
          "id": "XqOGwce4EUzaiU9i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields['Email'] }}",
        "subject": "=⚠️ Subscription Expiring Soon - {{ $json.fields['Full Name'] }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px;\">\n    <h3 style=\"color: #e74c3c;\">Subscription Expiring Warning</h3>\n    <p>Dear <strong>{{ $json.fields['Full Name'] }}</strong>,</p>\n    <p>This is a friendly reminder that your gym subscription is expiring soon.</p>\n    <div style=\"background: #fff3cd; padding: 15px; border-radius: 8px; border: 1px solid #ffeeba;\">\n        <p><strong>Expiry Date:</strong> {{ $json.fields['Subscription Expiry Date'] }}</p>\n        <p><strong>Current Plan:</strong> {{ $json.fields['Plan Type'] }}</p>\n    </div>\n    <p>Please renew your subscription to avoid any interruption to your access.</p>\n    <p>Best regards,<br>The Gym Management Team</p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        0
      ],
      "id": "0a144dce-dfd7-45c9-b047-0b3fd8ad761e",
      "name": "Send a message",
      "webhookId": "7d4f392e-1310-438d-86b8-d403c44bb918",
      "credentials": {
        "gmailOAuth2": {
          "id": "hemSJiVKKftSz8yY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXCW1heCZFvlGSo",
          "mode": "list",
          "cachedResultName": "Gym Management System",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo"
        },
        "table": {
          "__rl": true,
          "value": "tbleqNi2Sno4ttfpW",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo/tbleqNi2Sno4ttfpW"
        },
        "filterByFormula": "=AND({Subscription Status} = 'active', {Subscription Expiry Date} >= '{{ $json.today }}', {Subscription Expiry Date} <= '{{ $json.warning_date_30 }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        672,
        -176
      ],
      "id": "5d776330-38e7-4c9e-8dda-4ce714ccc61e",
      "name": "Find 30-Day Warnings",
      "credentials": {
        "airtableTokenApi": {
          "id": "XqOGwce4EUzaiU9i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "=📅 Reminder: Subscription Renewal for {{ $json.fields['Full Name'] }}.",
        "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px;\">\n    <h3 style=\"color: #2980b9;\">Friendly Reminder</h3>\n    <p>Dear <strong>{{ $json.fields['Full Name'] }}</strong>,</p>\n    <p>Your gym subscription is valid for the next 30 days. This is just a reminder to plan your renewal soon!</p>\n    <div style=\"background: #e8f6f3; padding: 15px; border-radius: 8px;\">\n        <p><strong>Expiry Date:</strong> {{ $json.fields['Subscription Expiry Date'] }}</p>\n        <p><strong>Current Plan:</strong> {{ $json.fields['Plan Type'] }}</p>\n    </div>\n    <p>Best regards,<br>The Gym Team</p>\n</div><div style=\"font-family: Arial, sans-serif; padding: 20px;\">\n    <h3 style=\"color: #2980b9;\">Friendly Reminder</h3>\n    <p>Dear <strong>{{ $json.fields['Full Name'] }}</strong>,</p>\n    <p>Your gym subscription is valid for the next 30 days. This is just a reminder to plan your renewal soon!</p>\n    <div style=\"background: #e8f6f3; padding: 15px; border-radius: 8px;\">\n        <p><strong>Expiry Date:</strong> {{ $json.fields['Subscription Expiry Date'] }}</p>\n        <p><strong>Current Plan:</strong> {{ $json.fields['Plan Type'] }}</p>\n    </div>\n    <p>Best regards,<br>The Gym Team</p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -176
      ],
      "id": "1718e460-c9e0-4625-bfa5-5544e8f3a143",
      "name": "30 Day Reminder",
      "webhookId": "0f59920b-ff5e-4d07-b60e-d8267c69fa94",
      "credentials": {
        "gmailOAuth2": {
          "id": "hemSJiVKKftSz8yY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appXCW1heCZFvlGSo",
          "mode": "list",
          "cachedResultName": "Gym Management System",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo"
        },
        "table": {
          "__rl": true,
          "value": "tbleqNi2Sno4ttfpW",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo/tbleqNi2Sno4ttfpW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Subscription Status": "expired",
            "Renewal Count": 0,
            "Amount Paid": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subscription Status",
              "displayName": "Subscription Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "active",
                  "value": "active"
                },
                {
                  "name": "expired",
                  "value": "expired"
                },
                {
                  "name": "cancelled",
                  "value": "cancelled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subscription Start Date",
              "displayName": "Subscription Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subscription Expiry Date",
              "displayName": "Subscription Expiry Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Plan Type",
              "displayName": "Plan Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "monthly",
                  "value": "monthly"
                },
                {
                  "name": "quarterly",
                  "value": "quarterly"
                },
                {
                  "name": "annual",
                  "value": "annual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Renewal Count",
              "displayName": "Renewal Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Renewed",
              "displayName": "Last Renewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Amount Paid",
              "displayName": "Amount Paid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Renewal Logs (Linked)",
              "displayName": "Renewal Logs (Linked)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Renewals",
              "displayName": "Total Renewals",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Payment Status",
              "displayName": "Last Payment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Renewal Date",
              "displayName": "Last Renewal Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Days Until Expiry",
              "displayName": "Days Until Expiry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Expired?",
              "displayName": "Is Expired?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "AI: Renewal Risk Assessment",
              "displayName": "AI: Renewal Risk Assessment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI: Upsell Opportunity",
              "displayName": "AI: Upsell Opportunity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        672,
        192
      ],
      "id": "463ec9a7-58aa-43aa-934c-0e1d771379e7",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "XqOGwce4EUzaiU9i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields['Email'].trim() }}",
        "subject": "=❌ Subscription Expired - Action Required",
        "message": "=<div style=\"font-family: Arial, sans-serif; padding: 20px;\">\n    <h3 style=\"color: #e74c3c;\">⚠️ Subscription Expired</h3>\n    <p>Dear <strong>{{ $json.fields['Full Name'] }}</strong>,</p>\n    <p>We are writing to let you know that your gym membership expired on <strong>{{ $json.fields['Subscription Expiry Date'] }}</strong>.</p>\n    <div style=\"background: #ffeaea; padding: 15px; border-radius: 8px; border: 1px solid #ffcccb;\">\n        <p>Your access is currently suspended. Please renew your membership to regain access to all facilities.</p>\n    </div>\n    <p>If you believe this is an error, please contact the front desk.</p>\n    <br>\n    <p>Best regards,<br><strong>The Gym Management Team</strong></p>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        192
      ],
      "id": "b5a0b707-94ef-44d7-a21c-273387e5dcc1",
      "name": "Email - Expired User",
      "webhookId": "d0df8b1f-442c-45c2-a0d2-4a268b47edfa",
      "credentials": {
        "gmailOAuth2": {
          "id": "hemSJiVKKftSz8yY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXCW1heCZFvlGSo",
          "mode": "list",
          "cachedResultName": "Gym Management System",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo"
        },
        "table": {
          "__rl": true,
          "value": "tbleqNi2Sno4ttfpW",
          "mode": "list",
          "cachedResultName": "Members",
          "cachedResultUrl": "https://airtable.com/appXCW1heCZFvlGSo/tbleqNi2Sno4ttfpW"
        },
        "filterByFormula": "=AND({Subscription Status} = 'active', {Subscription Expiry Date} < '{{ $json.today }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        464,
        192
      ],
      "id": "49ad52ef-43b3-47ae-9b5d-8aede6c0928b",
      "name": "Expired User",
      "credentials": {
        "airtableTokenApi": {
          "id": "XqOGwce4EUzaiU9i",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const count = $input.all().length;\nreturn [{ json: { thirty_day_count: count } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -176
      ],
      "id": "0ba0fb13-56f3-4a12-a661-aac64ede62d6",
      "name": "Count 30-Day Emails."
    },
    {
      "parameters": {
        "jsCode": "// Count how many items (emails) came in\nconst count = $input.all().length;\nreturn [{ json: { seven_day_count: count } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        0
      ],
      "id": "bb8c4155-30e3-4890-9514-e77628baa65b",
      "name": "Count 7-Day Emails."
    },
    {
      "parameters": {
        "jsCode": "const count = $input.all().length;\nreturn [{ json: { expired_count: count } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        192
      ],
      "id": "50ba2e62-ed50-4f9e-a137-335c16300dd9",
      "name": "Expired"
    },
    {
      "parameters": {
        "sendTo": "jaiyeobasamueloluwapelumi@gmail.com",
        "subject": "30days notice",
        "message": "=<h3>Daily Expired User Report</h3>\n<p>The system has processed the following expired users today:</p>\n<p style=\"font-size: 24px; font-weight: bold; color: #e74c3c;\">\n  Total Expired: {{ $json.expired_count }}\n</p>\n<p>Statuses have been updated to 'expired' in Airtable.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -176
      ],
      "id": "2fe6c58f-df69-4563-adb4-c307fd08b4bb",
      "name": "ADMIN 30 DAYS REPORT",
      "webhookId": "dcbfd4b6-3d0d-4076-bdda-c686e82cea0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "hemSJiVKKftSz8yY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jaiyeobasamueloluwapelumi@gmail.com",
        "subject": "7DAYS NOTICE",
        "message": "=<h3>Daily Expired User Report</h3>\n<p>The system has processed the following expired users today:</p>\n<p style=\"font-size: 24px; font-weight: bold; color: #e74c3c;\">\n  Total Expired: {{ $json.expired_count }}\n</p>\n<p>Statuses have been updated to 'expired' in Airtable.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        0
      ],
      "id": "15ce30dc-be83-43a9-9a0b-c8ef5a7f64af",
      "name": "7days admin update",
      "webhookId": "a10710ac-0a7e-4975-b8f7-41de71ba35be",
      "credentials": {
        "gmailOAuth2": {
          "id": "hemSJiVKKftSz8yY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jaiyeobasamueloluwapelumi@gmail.com",
        "subject": "EXPIRED MEMBER UPDATE ",
        "message": "=<h3>Daily Expired User Report</h3>\n<p>The system has processed the following expired users today:</p>\n<p style=\"font-size: 24px; font-weight: bold; color: #e74c3c;\">\n  Total Expired: {{ $json.expired_count }}\n</p>\n<p>Statuses have been updated to 'expired' in Airtable.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        192
      ],
      "id": "38037fb5-e867-4fcd-9141-c584db0ea572",
      "name": "Expired member notice",
      "webhookId": "0ac9de38-5df6-40bf-a521-a15808c279d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "hemSJiVKKftSz8yY",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calculate Date Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Thresholds": {
      "main": [
        [
          {
            "node": "Find 30-Day Warnings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expired User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find 7-Day Warnings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find 7-Day Warnings": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find 30-Day Warnings": {
      "main": [
        [
          {
            "node": "30 Day Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 Day Reminder": {
      "main": [
        [
          {
            "node": "Count 30-Day Emails.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Email - Expired User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expired User": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Count 7-Day Emails.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email - Expired User": {
      "main": [
        [
          {
            "node": "Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count 7-Day Emails.": {
      "main": [
        [
          {
            "node": "7days admin update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expired": {
      "main": [
        [
          {
            "node": "Expired member notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count 30-Day Emails.": {
      "main": [
        [
          {
            "node": "ADMIN 30 DAYS REPORT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5b8aae2b-c315-41da-ad4c-f07491cbbc59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be3742841223d56f8c2efbcc7418b223a8c7e0ca323e7f5263b7783d41d69071"
  },
  "id": "N1th4ZSnp5MVHYpU",
  "tags": []
}